/* .logo{
    width: 50px;
    float: right;
    border-radius: 50%;
    margin-top: 3px;
    margin-right: 40px;
} */

/* .navcolor{
    background-color: #e3f2fd;
    height: 70px;
} */


/* .nav-ul li{
    display: inline-block;
    padding: 10px;
    margin: 0;
} */

/* .nav-ul li a{
    color: black;
    padding: 6px;
    text-decoration: none;
} */

/* .nav-ul {
    padding: 6px;
    margin: 0;
   
} */

/* .nav-right {
    text-align: right;
}

.logo {
    width: 50px;
    float: left;
    border-radius: 50%;
    margin-top: 3px;
    margin-left: 20px;   
} */


.navcol {
    background-color: #e3f2fd;
}